<li class="collection-item" id="post-<%= post.id %>">
    <h6>
        <b><%= post.user.name %> </b>
        <% if (locals.user && locals.user.id == post.user.id) { %>
            <a class="delete-post-btn btn-floating right btn-small waves-effect waves-light red" href="/posts/destroy/<%= post.id %>"><i class="material-icons">delete</i></a>
        <% } %>
    </h6>
    <p>
        <%= post.content %>                         
    </p>
    <% if (locals.user){ %>
        <form action="/comments/create" class="comments-input" method="POST">
            <div class="row">
                <div class="input-field col s10 m9">
                    <input id="comment-input" type="text" name="content" required></input>
                    <label for="comment-input">Comment</label>
                    <input type="hidden" name="post" value="<%= post._id %>"></input>
                </div>
                <div class="input-field col s1">
                    <button class="btn btn-floating btn-medium waves-effect waves-light cyan" type="submit" name="action">
                        <i class="material-icons right">chevron_right</i>
                    </button>
                </div>
            </div>
        </form>
    <% } %>
    <div class="row">
    <div class="col s11 offset-s1" id="post-comments-<%= post._id %>">
        <% for( comment of post.comments ) { %>
            <div class="row">
                <div class="col s5">
                    <b><%= comment.user.name %> </b> 
                </div>
                <div class="col s12">
                    <%= comment.content %> 
                    <% if (locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
                        <a class="btn-floating right btn-small waves-effect waves-light red" href="/comments/destroy/<%= comment.id %>"><i class="material-icons">delete</i></a>
                    <% } %>  
                </div>
            </div>                 
        <% } %>
    </div>
    </div>
</li>